@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Work+Sans:wght@400;500;600;700;800&display=swap');

*
{
    padding: 0;
    margin: 0;

}

/* shared styles */
body
{

    font-family: 'Work Sans', sans-serif;
}

.section-btn
{
    padding: 21px 40px;
    margin-top: 20px;
    align-items: flex-start;
    border: 0;
    color: white;
    border-radius: 48px;
}

.size-3
{
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
}

.section-desc
{
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
}

/* :root
{
    --background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
} */

/* header */
header
{}

/* header nav */
nav
{
    display: flex;
    justify-content: space-between;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    text-align: center;
    padding: 25px 140px;
}

.nav-content,
ul
{
    display: flex;
    align-items: center;
}

.nav-content img
{
    width: 80.041px;
    height: 35px;
    margin-right: 20px;
}

nav .nav-tittle
{
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

ul li
{
    list-style: none;
    padding: 0 25px;
}

ul li a
{
    text-decoration: none;
    color: #3C354F;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#icon-nav
{
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 10px 20px;
}

.fa-youtube
{
    color: red;
    padding: 0 5px;
}

/* header-banner */
.header-banner
{
    padding: 10px 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(../images/Group\ 14.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 671px 605px;

}

.banner-intro
{
    color: #0B0223;
    text-transform: uppercase;
}

.banner-tittle
{
    font-size: 5.9rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-desc
{
    color: #534C64;
    text-transform: lowercase;
    padding: 10px 0;
}

#banner-desc
{
    margin-top: 15px;
}

.fa-play,
.fa-download
{
    color: rgb(243, 149, 165);
}

.banner-btn
{
    padding: 21px 40px;
    margin-top: 20px;
    align-items: flex-start;
    margin-right: 20px;
    border: 0;
    color: white;
    border-radius: 48px;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
}

#banner-btn-2
{
    background: #4EC5F7;
}

.banner-images img
{
    width: 490px;
    height: 582px;
}

/* gamer section*/
.gamer-container
{
    padding: 10px 140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.gamer-img img
{
    width: 100%;
}

.gamer-content
{
    text-align: right;
}

.gamer-tittle
{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gamer-desc
{
    color: #534C64;
    line-height: 30px;
    margin-top: 20px;
}

.gamer-btn
{
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
}

.purpose
{
    margin: 10px 0 0 0;
}

.purpose-tittle
{
    color: #534C64;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
}

/* online-games */
.online-games
{
    padding: 10px 140px;
    text-align: center;
    margin-top: 120px;
}

.online-games-tittle
{
    color: #0B0223;
}

.online-games-desc
{
    color: #534C64;
    text-align: center;
    margin-bottom: 40px;
}

/* online-card */

.online-card
{
    display: flex;
    gap: 20px;
    justify-content: center;
}

.card
{
    width: 25%;
}

.card img
{
    width: 230px;
    height: 230px;
    border-radius: 8px;
}

span
{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card-desc
{
    color: #534C64;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    align-items: center;
}

.hover
{
    position: relative;
    bottom: 188px;
    display: none;
}

.hover-desc
{
    text-align: center;
    position: relative;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;/
}

.card:hover .hover
{
    display: inline;
}

/* download */
.download
{
    display: flex;
    margin-top: 120px;
    align-items: center;
    padding: 10px 140px;
    justify-content: space-around;
    gap: 130px;
}

.download-tittle
{
    text-align: right;
}

.download-desc
{
    color: #534C64;
    text-align: right;
}

.download-images img
{
    width: 100%;
}

.images-2 img
{
    position: relative;
    right: 20%;
    margin-top: -50%;
    width: 50%;
}

/* Careers */
.Career
{
    display: flex;
    justify-content: space-around;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    margin-top: 100px;
    height: 700px;
}

.Career-content
{
    margin-left: 90px;
    margin-top: 70px;
}

.career-tittle
{
    color: #FFF;
}

.career-desc
{
    color: #FFF;
}

.Career-image img
{
    width: 100%;
    height: 100%;
}

/* career-info */
.career-info
{
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
}

.info-left-desc,
.info-right-desc
{
    color: #FFF;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
}

.info-right-desc
{
    text-align: right;
}

.career-btn
{
    padding: 21px 40px;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    border-radius: 48px;
    background: #FFF;
    color: #FF42A5;
    border: 0;
    margin: 30px 0;
}

/* logo */
.logo
{

    margin-top: 100px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.logo-1
{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 10px 90px;
    margin: 10px auto;
    margin-bottom: 40px;
}

.logo-2
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 10px 150px;
    margin: 10px auto;
}

.logo-content
{
    display: flex;
    align-items: center;
    gap: 16px;
}

.logo-content:hover
{
    border: 2px solid #FF42A5;
    border-radius: 50px;
    padding: 5px;
}

.logo-content img
{
    width: 40%;
}

.logo-desc
{
    color: #0B0223;
}

/* footer */
footer
{
    background: #0B0223;
    margin-top: 100px;
}

/* footer-logo */
.footer-logo
{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 100px;
}

.footer-logo img
{
    width: 86.041px;
    height: 40px;
}

.footer-logo-text
{
    color: #FFF;
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* footer-info */
.footer-info
{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 40px;
    margin: 30px 0;
    padding: 10px 267px;
}

.footer-info-desc,
.footer-condition
{
    color: #FFF;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
}

/* footer-image */
.footer-image,
.copyright
{
    justify-content: center;
    display: flex;
    gap: 40px;
}

.footer-image img
{
    border-radius: 20px;
    width: 40px;
    cursor: pointer;
}

.footer-condition
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 30px 0;
    padding: 10px 350px;
}

.footer-condition-text
{
    color: rgba(255, 255, 255, 0.60);
    font-size: .9rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
}

.footer-copyright .copyright
{
    color: rgba(255, 255, 255, 0.60);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 100px;
    font-size: 1rem
}



/* responsive design */
@media screen and (max-width:992px)
{

    /* nav */
    nav
    {
        flex-direction: column;
        box-shadow: none;
        padding: 25px 20px;
        margin: 10px auto;
        justify-content: center;
        align-items: center;
    }

    ul
    {
        flex-direction: column;
    }

    ul li
    {
        margin-top: 40px;
    }

    /* header-banner */
    .header-banner
    {
        padding: 10px 60px;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-position: bottom;
        background-size: 671px 605px;
    }

    .banner-images img
    {
        width: 100%;
        height: auto;

    }

    .banner-content
    {
        margin-top: 80px;
    }

    .banner-tittle
    {
        font-size: 5rem;
        text-align: center;
    }

    .banner-btn
    {
        margin-right: 0px;
    }

    /* .gamer-container */
    .gamer-container
    {
        padding: 10px 40px;
        flex-direction: column;
    }

    .gamer-content
    {
        text-align: center;
    }

    .purpose-tittle
    {
        font-size: 1.5rem;
    }

    /* online games */
    .online-games
    {
        padding: 10px 40px;
        margin-top: 70px;
    }

    .online-card
    {
        flex-direction: column;
        gap: 20px;
        justify-content: center;
    }

    .card
    {
        width: 100%;
    }

    .gamer-btn
    {
        margin-bottom: 50px;
    }

    /* download */
    .download
    {
        flex-direction: column;
        margin-top: 70px;
        padding: 10px 40px;
        justify-content: center;
        gap: 30px;
    }

    .download-tittle,
    .online-games-tittle
    {
        font-size: 2rem;
    }

    .download-desc,
    .download-tittle
    {
        text-align: center;

    }

    .download-content
    {
        margin-bottom: 20px;
    }

    .download-images
    {
        text-align: center;
    }

    .download-images img
    {
        width: 80%;
    }

    .images-2 img
    {
        right: 39%;
        margin-top: -25%;
        width: 30%;
    }

    .Career
    {
        flex-direction: column;
        margin-top: 100px;
        height: 1400px;
    }

    .career-desc br,
    .gamer-content br
    {
        display: none;
    }

    .info-left-desc,
    .info-right-desc
    {
        font-size: 0.9rem;
    }

    .Career-content
    {
        margin-left: 0px;
        margin-top: 0;
        padding: 5px 20px;
    }

    /* logo */
    .logo-1,
    .logo-2
    {
        grid-template-columns: repeat(3, 1fr);
        padding: 0px 10px;
        gap: 50px;
    }

    .logo-desc
    {
        color: #0B0223;
        font-size: .8rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .display-none
    {
        display: none;
    }

    /* footer */
    .footer-info
    {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 10px 20px;
    }

    .footer-condition
    {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 10px 20px;
        gap: 50px;
    }

    .footer-copyright .copyright
    {
        text-align: center;
        padding-bottom: 100px;
        font-size: 1rem
    }
}


/* pad responsive */
@media screen and (min-width:576px) and (max-width:992px)
{
    .online-card
    {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .download-images
    {
        text-align: center;
    }

    .download-images img
    {
        width: 80%;
    }

    .images-2 img
    {
        right: 39%;
        margin-top: -25%;
        width: 30%;
    }
}