@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Work+Sans:wght@400;500;600;700;800&display=swap');

*
{
    padding: 0;
    margin: 0;

}

/* shared styles */
body
{

    font-family: 'Work Sans', sans-serif;
}

.section-btn
{
    padding: 21px 40px;
    margin-top: 20px;
    align-items: flex-start;
    border: 0;
    color: white;
    border-radius: 48px;
}

:root
{
    --background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
}

/* header */
header
{}

/* header nav */
nav
{
    display: flex;
    justify-content: space-between;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    text-align: center;
    padding: 25px 140px;
}

.nav-content,
ul
{
    display: flex;
    align-items: center;
}

.nav-content img
{
    width: 80.041px;
    height: 35px;
    margin-right: 20px;
}

nav .nav-tittle
{
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

ul li
{
    list-style: none;
    padding: 0 25px;
}

ul li a
{
    text-decoration: none;
    color: #3C354F;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#icon-nav
{
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 10px 20px;
}

.fa-youtube
{
    color: red;
    padding: 0 5px;
}

/* header-banner */
.header-banner
{
    padding: 10px 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-intro
{
    color: #0B0223;
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.banner-tittle
{
    font-size: 5.9rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-desc
{
    color: #534C64;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: lowercase;
    padding: 10px 0;
}

#banner-desc
{
    margin-top: 15px;
}

.fa-play,
.fa-download
{
    color: rgb(243, 149, 165);
}

.banner-btn
{
    padding: 21px 40px;
    margin-top: 20px;
    align-items: flex-start;
    margin-right: 20px;
    border: 0;
    color: white;
    border-radius: 48px;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
}

#banner-btn-2
{
    background: #4EC5F7;
}

.banner-images img
{
    width: 490px;
    height: 582px;
}

/* gamer section*/
.gamer-container
{
    padding: 10px 140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.gamer-img img
{
    width: 100%;
}

.gamer-content
{
    text-align: right;
}

.gamer-tittle
{
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gamer-desc
{
    color: #534C64;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-top: 20px;
    /* text-align: right; */
}

.gamer-btn
{
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
}

.purpose
{
    margin: 10px 0 0 0;
}

.purpose-tittle
{
    color: #534C64;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
}







/* responsive design */
@media screen and (max-width:576px)
{

    /* nav */
    nav
    {
        flex-direction: column;
        box-shadow: none;
        padding: 25px 20px;
        margin: 10px auto;
        justify-content: center;
        align-items: center;
    }

    ul
    {
        flex-direction: column;
    }

    ul li
    {
        margin-top: 40px;
    }

    /* header-banner */
    .header-banner
    {
        padding: 10px 50px;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
    }

    .banner-images img
    {
        width: 100%;
        height: auto;

    }

    .banner-content
    {
        margin-top: 80px;
    }

    /* .gamer-container */
    .gamer-container
    {
        padding: 10px 40px;
        flex-direction: column;
    }

    .gamer-content
    {
        text-align: center;
    }
    .purpose-tittle{
        font-size: 1.5rem;
    }
}